# Environment variables 
.env
.env.local
.env.production
.env.*

# rust artifacts
target/
**/target/
Cargo.lock

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Node - frontend
node_modules/
.next/

backend/config/keys/
*.pem
.env
